.App {
  text-align: center;
}

.frontcard {
  height:150px;
  display:flex;
  align-items: center;
  justify-content: center;
  padding:10%
}

.backcard {
  height:150px;
  display:flex;
  align-items: center;
  justify-content: center;
  padding:10%
}

.eachcard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
}